footer {
    padding-top: 5em;
    padding-bottom: 2em;

    ul {
        list-style-type: none;
        margin-bottom: 2.5em;

        &:after {
            content: '';
            display: block;
            clear: both;
        }

        li {
            float: left;
            margin-right: .5em;
            font-size: 1.1em;

            a {
                display: block;
                text-decoration: underline;
                
                &:after {
                    content: '|';
                    display: block;
                    float: right;
                    margin-left: .5em;
                }
            }

            &:last-child {
                margin-right: 0;

                a:after {
                    display: none;          
                }
            }
        }
    }

    .copyright {
        font-family: 'ubuntu-bold', Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    p {
        width: 100%;
        color: $colour_footer_small;

        @include screen-size(medium) {
            width: 70%;
        }
    }
}